:root {
  --verde-principal: #57BE6C;
  --preto-principal: #101010;
  --cinza-principal: #e4eaf0;
  --branco-principal: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background: var(--preto-principal);
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  justify-content: center;
}

.photo {
  margin: 16px 0;
  max-width: 240px;
  border-radius: 50%;
  border: 5px solid var(--verde-principal);
  filter: contrast(110%);
}

.greeting {
  color: var(--branco-principal);
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 48px;
  background: #272727;
  border-radius: 5px;
  
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--branco-principal);
  margin-top: 16px;
}

.link-half-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.link-half{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  background: #272727;
  border-radius: 5px;
  
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--branco-principal);
  padding: 0 12px;
}

.logo-half{
  height: 24px;
  width: 24px
  fill: var(--branco-principal);
}

.logo{
  height: 20px;
  width: 20px
  fill: var(--branco-principal);
}

.username {
  color: var(--verde-principal);
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.info {
  color: var(--branco-principal);
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
}

a:hover {
  background-color: var(--verde-principal);
}

#github-gif {
  height: 128px;
  width: 128px;

  align-self: center;
}